NODE_ENV=
APP_API_URL=http://localhost:3333

# Mail provider (aws, sendgrid or ethereal)
FORGOT_MAIL_URL=http://localhost:3333/password/reset?token=
MAIL_PROVIDER=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SDK_JS_SUPPRESS_MAINTENANCE_MODE_MESSAGE = '1';
AWS_REGION=
AWS_API_VERSION=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=

# SendGrid
SENDGRID_HOST=
SENDGRID_USERNAME=
SENDGRID_PORT=
SENDGRID_API_KEY=

# Storage (disk or s3)
STORAGE_DRIVER=
